.Home {
  background: #ff8800;
  .home {
    display: flex;
    align-items: center;
    padding: 50px;

    .img {
      background-image: url("../../../../../shared/images/Benefits of creative art activities for kids _ Abrakadoodle.jpeg");
      background-size: cover;
      height: 500px;
      width: 500px;
      border-radius: 50%;
    }

    .text {
      color: #ffffff;
    }
  }
}
