.Sliders {
  padding: 50px;
  .sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; // Здесь изменено с 10px на 20px
    .sliderContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    .button {
      background-color: white;
      border: 1px solid #d4d4d4;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      color: black;
      font-size: 18px;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    .sliderBox {
      padding: 10px;

      .innerBox {
        background: red;
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .imageContainer {
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          height: 200px;
        }
      }
    }
  }
}
